@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sail&display=swap');

.cursive {
  font-family: "Sail", system-ui;
  font-weight: 400;
  font-style: normal;
}

.regularFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.big {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1;
  letter-spacing: -3px;
}